.journey {
    margin: var(--marge-small-screen);
    margin-top: 70px;
}

.journey__container {
    display: flex;
    flex-direction: column;
    align-items: center;
   
}

@container page (width > 640px) {
    .journey {
        > h2 {
            margin: 40px var(--marge-medium-screen);
        }
    }
}

@container page (width > 800px) {
    .journey {
        > h2 {
            margin: 40px var(--marge-large-screen);
        }
    }
}

@container page (width >= 1024px) {
    .journey__container {
        flex-direction: row;
    }
}

@container page (width > 1440px) {
    .journey {
        > h2 {
            margin: 40px var(--marge-extra-large-screen);
        }
    }
}

