.project__name {
    font-size: 1rem;
    opacity: 0;
    display: block;
    animation: comeIn .3s .3s ease-in-out forwards;
}

.project__name--none {
    display: none;
}

@keyframes comeIn {
  from { 
    opacity: 0;
    transform: translateY(10px);
}
  to { opacity: 1; }
}

@container page (width > 640px) {
  .project__name {
      font-size: 1.2rem;
  }
}