@container page (width < 1024px) {
    .journey-step__container {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        height: 100px;
        gap: 1rem;
        > * {
            z-index: 99;
        }
        h2 {
            font-size: 1.3rem;
        }
        h3 {
            font-size: .9rem;
            max-width: 25vw;
        }
        p {
            font-size: .5rem;
            max-width: 25vw;
        }
        img {
            width: 60px;
            border-radius: 50px;
        }
    }

    .journey__container {
        div:nth-child(odd) {
            flex-direction: row-reverse;
            div:nth-child(2) {
                position: relative;
                right: calc(80px - 10vw);
                flex-direction: row-reverse;
            }
        }
    }

    .journey__container {
        div:nth-child(even) {
            div:nth-child(2) {
                position: relative;
                left: calc(80px - 10vw);
            }
        }
    }

    .journey__container {
        div:nth-child(odd) {
            div:nth-child(1) {
                position: relative;
                left: calc(1px + 10vw);
            }
        }
    }

    .journey__container {
        div:nth-child(even) {
            div:nth-child(1) {
                position: relative;
                left: calc(1px - 10vw);
            }
        }
    }

    /* vertical line */
    .journey-step__container::before {
        content: '';
        position: absolute;
        top: 50%; left: 50%;
        transform: translate(-50%, -50%);
        width: .5rem;
        height: 110%;
        border-radius: 1rem;
        background-color: var(--secondary-color);
        z-index: 1;
    }

    /* horizontal line from img to vertical line */
    .journey-step__container:nth-child(odd):after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(-325%, -50%)rotate(90deg);
            width: .5rem;
            height: 60%;
            border-radius: 1rem;
            background-color: var(--secondary-color);
            z-index: 1;
    }

    .journey-step__container:nth-child(even):after {
            content: '';
            position: absolute;
            top: 50%;
            transform: translate(325%, -50%)rotate(90deg);
            width: .5rem;
            height: 60%;
            border-radius: 1rem;
            background-color: var(--secondary-color);
            z-index: 1;
    }

    .journey-step_img_and_date {
        display: flex;
        gap: .5rem;
    }
}

@container page (width >= 1024px) {
    .journey-step__container {
        position: relative;
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        margin: 1rem;
        > * {
            z-index: 99;
        }
        h2 {
            margin: 0;
        }
        h3 {
            display: flex;
            align-items: center;
            text-align: center;
            height: 46px;
        }
        p {
              height: 150px;
            font-size: .9rem;
        }
        img {
            width: 60px;
            border-radius: 50px;
        }
    }

    .journey-step_img_and_date {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column-reverse;
    }

    .journey-step__container_text {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    /* vertical line */
    .journey-step__container::before {
        content: '';
        position: absolute;
        bottom: 82%;
        width: 130%;
        height: .5rem;
        overflow: hidden;
        border-radius: 1rem;
        background-color: var(--secondary-color);
        z-index: 1;
    }
}