.wrapper-hero {
    background-image: url('/src/assets/images/bg-leaf.svg');
    background-size: cover;     
    background-position: 35% 0;
    min-height: 100vh;
}

.hero-section {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: var(--marge-small-screen);
    position: relative;
}

.hero-section__text {
    h1 {
        font-family: brico-eb, sans-serif;
        font-size: 2.3rem;
        margin-bottom: 5px;
    }    
    h2 {
        margin-top: 5px;
        font-size: 1.5rem;
    }
}


.hero-section__image {
    border: solid 3px var(--secondary-color);
    border-radius: 50%;
    width: 150px;
}

.introduction__text {
    background: rgba(0, 0, 0, 0.22);
    box-shadow: 8px 8px 30px rgba(0, 0, 0, 1);
    border-radius: 10px;
    margin-top: 50px;
    padding: 10px 30px;
    margin: var(--marge-small-screen);
}

@container page (width > 640px) {
    .hero-section {
        padding: 20px var(--marge-medium-screen);
    }
    .introduction {
    padding: 20px var(--marge-medium-screen);
    }
   .hero-section__text {
        h1 {
            font-size: 3rem;
        }    
        h2 {
            font-size: 2rem;
        }
    }
    .hero-section__image {
        width: 220px;
    }
}



@container page (width > 800px) {
   .hero-section {
        justify-content: center;
        gap: 10rem;
        padding: 12vh 0 0 0;
    }
    .introduction {
        max-width: 60ch;
        margin: 0 auto;
        padding: 5vh 2rem;
    }
   .hero-section__text {
        h1 {
            font-size: 3.2rem;
        }    
        h2 {
            font-size: 2.2rem;
        }
    }
    .hero-section__image {
        width: 240px;
    }
    .wrapper-hero {
        background-position: 0 0;
    }
}