//Police text
@font-face {
  font-family: 'abel';
  src: url('../../police/abel/abel-regular-webfont.woff2') format('woff2'),
       url('../../police/abel/abel-regular-webfont.woff') format('woff'),
       url('../../police/abel/abel-regular-webfont.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;

}