@font-face {
  font-family: "brico-eb";
  src: url("./assets/fonts/bricolage-grotesque/BricolageGrotesque_24pt-ExtraBold.ttf"), format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "brico-sb";
  src: url("./assets/fonts/bricolage-grotesque/BricolageGrotesque_24pt-SemiBold.ttf"), format("truetype");
  font-weight: normal;
}

@font-face {
  font-family: "inter";
  src: url("./assets/fonts/bricolage-grotesque/BricolageGrotesque_24pt-SemiBold.ttf"), format("truetype");
  font-weight: normal;
}

html {
  container-type: inline-size;
  container-name: page;
}

:root {
  --main-color: #011F2C;
  --secondary-color: #362828;
  --text-color: #f1f1f1;
  --marge-small-screen: 20px;
  --marge-medium-screen: 60px;
  --marge-large-screen: 120px;
  --marge-extra-large-screen: 350px;
}

body {
  margin: 0;
  padding: 0;
  background-color: var(--main-color);
  color: var(--text-color);
  font-family: brico-sb, sans-serif;
  position: relative;
  width: 100%;
  overflow: hidden;
}

p {
  font-family: inter, sans-serif;
}

img {
  box-sizing: border-box;
  max-width: 100%;
  height: auto;
  display: block;
}

.app-container {
  max-height: 100vh;
  max-width: 200vw;
  display: flex;
  overflow: hidden;
}

.fade-in {
  animation: fadeIn .4s ease-in-out .3s 1 normal forwards;
}

@keyframes fadeIn {
  from {transform: translateX(100%);}
  to {transform: translateX(0%);}
}